<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-title>Videos</ion-title>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="md-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list *ngFor="let video of videos" (click)="loadVideo(video)">
		<ion-item text-wrap>
			<ion-thumbnail item-left *ngIf="video.snippet.thumbnails.default.url">
				<img [src]="video.snippet.thumbnails.default.url">
			</ion-thumbnail>
			<h2>{{video.snippet.title}}</h2>
		</ion-item>
	</ion-list>
</ion-content>

